// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Bctrl from "../../../index.js";

export declare namespace ConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Preview Conversation records and their canonical event history.
 */
export class ConversationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConversationsClient.Options>;

    constructor(options: ConversationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List durable agent conversations.
     *
     * @param {Bctrl.ListConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.list({
     *         from: "2026-07-26T12:00:00Z",
     *         to: "2026-07-26T12:00:00Z"
     *     })
     */
    public async list(
        request: Bctrl.ListConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.ConversationRecord, Bctrl.ConversationListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Bctrl.ListConversationsRequest,
            ): Promise<core.WithRawResponse<Bctrl.ConversationListResponse>> => {
                const { cursor, order, limit, spaceId, agent, from: from_, to } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                    spaceId,
                    agent,
                    from: from_ != null ? from_ : undefined,
                    to: to != null ? to : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        "v1/conversations",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Bctrl.ConversationListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/conversations");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.ConversationRecord, Bctrl.ConversationListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }

    /**
     * Get a runtime-free Conversation record; read its events for history.
     *
     * @param {Bctrl.GetConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.get({
     *         conversationId: "conversationId"
     *     })
     */
    public get(
        request: Bctrl.GetConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationRecord> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Bctrl.GetConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationRecord>> {
        const { conversationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationRecord, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/conversations/{conversationId}",
        );
    }

    /**
     * Delete an idle Conversation and retire its workspace.
     *
     * @param {Bctrl.DeleteConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.delete({
     *         conversationId: "conversationId"
     *     })
     */
    public delete(
        request: Bctrl.DeleteConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Bctrl.DeleteConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationDeleteResponse>> {
        const { conversationId, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/conversations/{conversationId}",
        );
    }

    /**
     * Update a Conversation title and metadata.
     *
     * @param {Bctrl.ConversationsUpdateRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.update({
     *         conversationId: "conversationId"
     *     })
     */
    public update(
        request: Bctrl.ConversationsUpdateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationRecord> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Bctrl.ConversationsUpdateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationRecord>> {
        const { conversationId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationRecord, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/conversations/{conversationId}",
        );
    }
}
