// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Bctrl from "../../../index.js";
import { MessagesClient } from "../resources/messages/client/Client.js";
import { TurnsClient } from "../resources/turns/client/Client.js";

export declare namespace ConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Durable agent conversations, messages, turns, and event streams.
 */
export class ConversationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConversationsClient.Options>;
    protected _messages: MessagesClient | undefined;
    protected _turns: TurnsClient | undefined;

    constructor(options: ConversationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get messages(): MessagesClient {
        return (this._messages ??= new MessagesClient(this._options));
    }

    public get turns(): TurnsClient {
        return (this._turns ??= new TurnsClient(this._options));
    }

    /**
     * List durable agent conversations.
     *
     * @param {Bctrl.ListConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.list()
     */
    public async list(
        request: Bctrl.ListConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.Conversation, Bctrl.ConversationListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Bctrl.ListConversationsRequest,
            ): Promise<core.WithRawResponse<Bctrl.ConversationListResponse>> => {
                const { spaceId, runtimeId, status, cursor, order, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    spaceId,
                    runtimeId,
                    status: status != null ? status : undefined,
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        "v1/conversations",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Bctrl.ConversationListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/conversations");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.Conversation, Bctrl.ConversationListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }

    /**
     * Create an agent conversation bound to an active runtime.
     *
     * @param {Bctrl.ConversationCreateRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.create({
     *         runtimeId: "runtimeId"
     *     })
     */
    public create(
        request: Bctrl.ConversationCreateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.Conversation> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Bctrl.ConversationCreateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.Conversation>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                "v1/conversations",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.Conversation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/conversations");
    }

    /**
     * Get a conversation with its durable messages and turns.
     *
     * @param {Bctrl.GetConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.get({
     *         conversationId: "conversationId"
     *     })
     */
    public get(
        request: Bctrl.GetConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationDetail> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Bctrl.GetConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationDetail>> {
        const { conversationId, messageCursor, messageLimit } = request;
        const _queryParams: Record<string, unknown> = {
            messageCursor,
            messageLimit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/conversations/{conversationId}",
        );
    }

    /**
     * Update the defaults used by future turns in a conversation.
     *
     * @param {Bctrl.ConversationUpdateRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.update({
     *         conversationId: "conversationId"
     *     })
     */
    public update(
        request: Bctrl.ConversationUpdateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.Conversation> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Bctrl.ConversationUpdateRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.Conversation>> {
        const { conversationId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.Conversation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/conversations/{conversationId}",
        );
    }

    /**
     * Cancel the active turn in a conversation.
     *
     * @param {Bctrl.CancelConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.cancel({
     *         conversationId: "conversationId"
     *     })
     */
    public cancel(
        request: Bctrl.CancelConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationCancelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: Bctrl.CancelConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationCancelResponse>> {
        const { conversationId, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationCancelResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/conversations/{conversationId}/cancel",
        );
    }

    /**
     * Stream normalized durable conversation events.
     */
    public stream(
        request: Bctrl.StreamConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Bctrl.ConversationEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__stream(request, requestOptions));
    }

    private async __stream(
        request: Bctrl.StreamConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Bctrl.ConversationEvent>>> {
        const { conversationId, after, "Last-Event-ID": lastEventId } = request;
        const _queryParams: Record<string, unknown> = {
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Last-Event-ID": lastEventId,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/conversations/{conversationId}/stream",
        );
    }

    /**
     * Create a conversation and queue its first agent turn in one call, starting the runtime when needed.
     *
     * @param {Bctrl.ConversationStartRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.PaymentRequiredError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link Bctrl.InternalServerError}
     * @throws {@link Bctrl.ServiceUnavailableError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.start({
     *         runtimeId: "runtimeId",
     *         text: "text"
     *     })
     */
    public start(
        request: Bctrl.ConversationStartRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.ConversationStartAccepted> {
        return core.HttpResponsePromise.fromPromise(this.__start(request, requestOptions));
    }

    private async __start(
        request: Bctrl.ConversationStartRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.ConversationStartAccepted>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                "v1/conversations/start",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.ConversationStartAccepted, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Bctrl.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Bctrl.InternalServerError(
                        _response.error.body as Bctrl.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Bctrl.ServiceUnavailableError(
                        _response.error.body as Bctrl.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/conversations/start");
    }
}
