// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Bctrl from "../../../index.js";

export declare namespace AccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Organization settings, usage, API keys, subaccounts, and notification recipients.
 */
export class AccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountClient.Options>;

    constructor(options: AccountClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get organization settings and their fully resolved values.
     *
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.account.get()
     */
    public get(requestOptions?: AccountClient.RequestOptions): core.HttpResponsePromise<Bctrl.Account> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(requestOptions?: AccountClient.RequestOptions): Promise<core.WithRawResponse<Bctrl.Account>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                "v1/account",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.Account, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/account");
    }

    /**
     * Update organization settings using JSON Merge Patch semantics. Pass dryRun=true to validate and resolve without persisting.
     *
     * @param {Bctrl.AccountPatchRequest} request
     * @param {AccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.account.update()
     */
    public update(
        request: Bctrl.AccountPatchRequest = {},
        requestOptions?: AccountClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.Account> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Bctrl.AccountPatchRequest = {},
        requestOptions?: AccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.Account>> {
        const { dryRun, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            dryRun,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                "v1/account",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.Account, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/account");
    }
}
