// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Bctrl from "../../../index.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Run events and organization control-plane changes.
 */
export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;

    constructor(options: EventsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List immutable Events visible in the organization, subaccount and selected Space. Filter by Run, browser, event metadata or occurrence time.
     *
     * @param {Bctrl.ListEventsRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.events.list({
     *         from: "2026-07-26T12:00:00Z",
     *         to: "2026-07-26T12:00:00Z"
     *     })
     */
    public async list(
        request: Bctrl.ListEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.Event, Bctrl.EventsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Bctrl.ListEventsRequest): Promise<core.WithRawResponse<Bctrl.EventsListResponse>> => {
                const {
                    category,
                    type: type_,
                    actor,
                    actorType,
                    channel,
                    outcome,
                    from: from_,
                    to,
                    cursor,
                    order,
                    limit,
                    runId,
                    runtimeId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    category: Array.isArray(category)
                        ? category.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : category != null
                          ? typeof category === "string"
                              ? category
                              : toJson(category)
                          : undefined,
                    type: type_,
                    actor,
                    actorType: actorType != null ? actorType : undefined,
                    channel: Array.isArray(channel)
                        ? channel.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : channel != null
                          ? typeof channel === "string"
                              ? channel
                              : toJson(channel)
                          : undefined,
                    outcome: Array.isArray(outcome)
                        ? outcome.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : outcome != null
                          ? typeof outcome === "string"
                              ? outcome
                              : toJson(outcome)
                          : undefined,
                    from: from_ != null ? from_ : undefined,
                    to: to != null ? to : undefined,
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                    runId,
                    runtimeId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        "v1/events",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as Bctrl.EventsListResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Bctrl.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/events");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.Event, Bctrl.EventsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }
}
