// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Bctrl from "../../../../../index.js";

export declare namespace ProcessesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProcessesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProcessesClient.Options>;

    constructor(options: ProcessesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Start a bounded process in a sandbox. The command is an argument array, never a shell string. For an interactive PTY, open a terminal connection.
     *
     * @param {Bctrl.sandboxes.SandboxProcessCreateRequest} request
     * @param {ProcessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.PaymentRequiredError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.sandboxes.processes.create({
     *         sandboxId: "sandboxId",
     *         command: ["command"]
     *     })
     */
    public create(
        request: Bctrl.sandboxes.SandboxProcessCreateRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.SandboxProcessAccepted> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Bctrl.sandboxes.SandboxProcessCreateRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.SandboxProcessAccepted>> {
        const { sandboxId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/sandboxes/${core.url.encodePathParam(sandboxId)}/processes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.SandboxProcessAccepted, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Bctrl.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/sandboxes/{sandboxId}/processes",
        );
    }

    /**
     * Get a sandbox process with its exit code and captured output.
     *
     * @param {Bctrl.sandboxes.GetProcessesRequest} request
     * @param {ProcessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.sandboxes.processes.get({
     *         sandboxId: "sandboxId",
     *         processId: "processId"
     *     })
     */
    public get(
        request: Bctrl.sandboxes.GetProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.SandboxProcess> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Bctrl.sandboxes.GetProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.SandboxProcess>> {
        const { sandboxId, processId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/sandboxes/${core.url.encodePathParam(sandboxId)}/processes/${core.url.encodePathParam(processId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.SandboxProcess, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/sandboxes/{sandboxId}/processes/{processId}",
        );
    }

    /**
     * Cancel one sandbox process.
     *
     * @param {Bctrl.sandboxes.CancelProcessesRequest} request
     * @param {ProcessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.ConflictError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.sandboxes.processes.cancel({
     *         sandboxId: "sandboxId",
     *         processId: "processId"
     *     })
     */
    public cancel(
        request: Bctrl.sandboxes.CancelProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.SandboxProcess> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: Bctrl.sandboxes.CancelProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.SandboxProcess>> {
        const { sandboxId, processId, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/sandboxes/${core.url.encodePathParam(sandboxId)}/processes/${core.url.encodePathParam(processId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.SandboxProcess, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Bctrl.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/sandboxes/{sandboxId}/processes/{processId}/cancel",
        );
    }

    /**
     * Stream sandbox process output and completion.
     */
    public stream(
        request: Bctrl.sandboxes.StreamProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Bctrl.SandboxProcessEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__stream(request, requestOptions));
    }

    private async __stream(
        request: Bctrl.sandboxes.StreamProcessesRequest,
        requestOptions?: ProcessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Bctrl.SandboxProcessEvent>>> {
        const { sandboxId, processId, after, "Last-Event-ID": lastEventId } = request;
        const _queryParams: Record<string, unknown> = {
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Last-Event-ID": lastEventId,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/sandboxes/${core.url.encodePathParam(sandboxId)}/processes/${core.url.encodePathParam(processId)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Bctrl.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/sandboxes/{sandboxId}/processes/{processId}/stream",
        );
    }
}
