// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Bctrl from "../../../../../index.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;

    constructor(options: EventsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Read canonical Conversation history across its Tasks. Events inside runtimes remain in each Run log.
     *
     * @param {Bctrl.conversations.ListEventsRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.conversations.events.list({
     *         conversationId: "conversationId",
     *         from: "2026-07-26T12:00:00Z",
     *         to: "2026-07-26T12:00:00Z"
     *     })
     */
    public async list(
        request: Bctrl.conversations.ListEventsRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.Event, Bctrl.ConversationsEventsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Bctrl.conversations.ListEventsRequest,
            ): Promise<core.WithRawResponse<Bctrl.ConversationsEventsListResponse>> => {
                const {
                    conversationId,
                    category,
                    type: type_,
                    actor,
                    actorType,
                    channel,
                    outcome,
                    from: from_,
                    to,
                    cursor,
                    order,
                    limit,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    category: Array.isArray(category)
                        ? category.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : category != null
                          ? typeof category === "string"
                              ? category
                              : toJson(category)
                          : undefined,
                    type: type_,
                    actor,
                    actorType: actorType != null ? actorType : undefined,
                    channel: Array.isArray(channel)
                        ? channel.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : channel != null
                          ? typeof channel === "string"
                              ? channel
                              : toJson(channel)
                          : undefined,
                    outcome: Array.isArray(outcome)
                        ? outcome.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : outcome != null
                          ? typeof outcome === "string"
                              ? outcome
                              : toJson(outcome)
                          : undefined,
                    from: from_ != null ? from_ : undefined,
                    to: to != null ? to : undefined,
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        `v1/conversations/${core.url.encodePathParam(conversationId)}/events`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Bctrl.ConversationsEventsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/conversations/{conversationId}/events",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.Event, Bctrl.ConversationsEventsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }

    /**
     * Resume canonical Conversation history by Event ID. The stream stays pinned to this Conversation and rechecks reader authority; heartbeats are SSE comments.
     */
    public stream(
        request: Bctrl.conversations.StreamEventsRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Bctrl.Event>> {
        return core.HttpResponsePromise.fromPromise(this.__stream(request, requestOptions));
    }

    private async __stream(
        request: Bctrl.conversations.StreamEventsRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Bctrl.Event>>> {
        const {
            conversationId,
            category,
            type: type_,
            actor,
            actorType,
            channel,
            outcome,
            from: from_,
            to,
            after,
            "Last-Event-ID": lastEventId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            category: Array.isArray(category)
                ? category.map((item) => (typeof item === "string" ? item : toJson(item)))
                : category != null
                  ? typeof category === "string"
                      ? category
                      : toJson(category)
                  : undefined,
            type: type_,
            actor,
            actorType: actorType != null ? actorType : undefined,
            channel: Array.isArray(channel)
                ? channel.map((item) => (typeof item === "string" ? item : toJson(item)))
                : channel != null
                  ? typeof channel === "string"
                      ? channel
                      : toJson(channel)
                  : undefined,
            outcome: Array.isArray(outcome)
                ? outcome.map((item) => (typeof item === "string" ? item : toJson(item)))
                : outcome != null
                  ? typeof outcome === "string"
                      ? outcome
                      : toJson(outcome)
                  : undefined,
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Last-Event-ID": lastEventId,
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/conversations/${core.url.encodePathParam(conversationId)}/events/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/conversations/{conversationId}/events/stream",
        );
    }
}
