// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Bctrl from "../../../../../index.js";

export declare namespace RecordingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecordingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecordingsClient.Options>;

    constructor(options: RecordingsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Read the whole-Run recording, including export progress and a direct standalone MP4 download with its SHA-256 when succeeded. Preserves historical Run access after Browser deletion. Purged artifacts are excluded. Download URLs expire within five minutes and never outlive a View.
     *
     * @param {Bctrl.runs.ListRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link Bctrl.TooManyRequestsError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.runs.recordings.list({
     *         runId: "runId"
     *     })
     */
    public async list(
        request: Bctrl.runs.ListRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.Recording, Bctrl.RecordingsList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Bctrl.runs.ListRecordingsRequest): Promise<core.WithRawResponse<Bctrl.RecordingsList>> => {
                const { runId, cursor, order, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        `v1/runs/${core.url.encodePathParam(runId)}/recordings`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as Bctrl.RecordingsList, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Bctrl.TooManyRequestsError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/runs/{runId}/recordings",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.Recording, Bctrl.RecordingsList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }

    /**
     * Read one recording belonging to this Run. A succeeded recording includes a direct standalone MP4 download URL, expiry, SHA-256 and byte size. Partial capture is reported explicitly. Download URLs expire within five minutes and never outlive a View.
     *
     * @param {Bctrl.runs.GetRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.BadRequestError}
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.runs.recordings.get({
     *         runId: "runId",
     *         recordingId: "recordingId"
     *     })
     */
    public get(
        request: Bctrl.runs.GetRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<Bctrl.Recording> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Bctrl.runs.GetRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Bctrl.Recording>> {
        const { runId, recordingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                "BCTRL-Version": requestOptions?.bctrlVersion,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BctrlEnvironment.Production,
                `v1/runs/${core.url.encodePathParam(runId)}/recordings/${core.url.encodePathParam(recordingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Bctrl.Recording, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Bctrl.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BctrlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/runs/{runId}/recordings/{recordingId}",
        );
    }
}
