// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Bctrl from "../../../../../index.js";

export declare namespace RunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RunsClient.Options>;

    constructor(options: RunsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the retained Runs belonging to this browser, including ended and failed Runs, using cursor pagination.
     *
     * @param {Bctrl.browsers.ListRunsRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Bctrl.UnauthorizedError}
     * @throws {@link Bctrl.ForbiddenError}
     * @throws {@link Bctrl.NotFoundError}
     * @throws {@link errors.BctrlError}
     * @throws {@link errors.BctrlTimeoutError}
     *
     * @example
     *     await client.browsers.runs.list({
     *         browserId: "browserId",
     *         from: "2026-07-26T12:00:00Z",
     *         to: "2026-07-26T12:00:00Z"
     *     })
     */
    public async list(
        request: Bctrl.browsers.ListRunsRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.Page<Bctrl.Run, Bctrl.BrowsersRunsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Bctrl.browsers.ListRunsRequest,
            ): Promise<core.WithRawResponse<Bctrl.BrowsersRunsListResponse>> => {
                const { browserId, cursor, order, limit, spaceId, status, from: from_, to, include } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    order: order != null ? order : undefined,
                    limit,
                    spaceId: Array.isArray(spaceId)
                        ? spaceId.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : spaceId != null
                          ? typeof spaceId === "string"
                              ? spaceId
                              : toJson(spaceId)
                          : undefined,
                    status: Array.isArray(status)
                        ? status.map((item) => (typeof item === "string" ? item : toJson(item)))
                        : status != null
                          ? typeof status === "string"
                              ? status
                              : toJson(status)
                          : undefined,
                    from: from_ != null ? from_ : undefined,
                    to: to != null ? to : undefined,
                    include: include != null ? include : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BCTRL-Space": requestOptions?.bctrlSpace ?? this._options?.bctrlSpace,
                        "BCTRL-Subaccount-Id": requestOptions?.bctrlSubaccountId ?? this._options?.bctrlSubaccountId,
                        "BCTRL-Version": requestOptions?.bctrlVersion,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BctrlEnvironment.Production,
                        `v1/browsers/${core.url.encodePathParam(browserId)}/runs`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Bctrl.BrowsersRunsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Bctrl.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 403:
                            throw new Bctrl.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                        case 404:
                            throw new Bctrl.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.BctrlError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/browsers/{browserId}/runs",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Bctrl.Run, Bctrl.BrowsersRunsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextCursor != null &&
                !(typeof response?.nextCursor === "string" && response?.nextCursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.nextCursor));
            },
        });
    }
}
